[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
textual = {extras = ["syntax"], version = "*"}
thefuzz = "*"
gitpython = "*"
xdg-base-dirs = "*"

[dev-packages]
pytest = "*"
textual-dev = "*"
black = "*"
flake8 = "*"
isort = "*"
pytest-cov = "*"
pytest-mocha = "*"
pytest-mock = "*"
pre-commit = "*"

[requires]
python_version = "3.10"
python_full_version = "3.10.12"
